body {
  background: white;
  color: black;
}

figure {
  border: thin solid grey;
  padding: .5em;
  margin: .5em;
  background: #f7c998;
  border-radius: .4em;
}

section {
  background: #ddd;
  border-radius: .4em;
}

section + h2 {
  margin-top: 4em;
}



#cats0a {
}

#cats0b figure {
  display: inline-block;
  margin: .5em;
}



#cats1a {
  display: flex;
  flex-wrap: wrap;
}

#cats1b {
  display: flex;
  flex-wrap: wrap;
}

#cats1b figure {
  flex-grow: 1;
}

#cats1b figure:hover {
  flex-grow: 10;
  transition: 1s;
}

#cats1c {
  display: flex;
  flex-wrap: wrap;
}

#cats1c figure {
  flex-grow: 1;
  text-align: center;
}

#cats1c figure:hover {
  flex-grow: 10;
  transition: 1s;
}



#cats2a {
  display: flex;
  flex-wrap: wrap;
}

#cats2b {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#cats2c {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

#cats2d {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}



#cats3a {
  display: flex;
  flex-wrap: wrap;
}

#cats3a figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cats3a figure figcaption {
  margin-top: .5em;
}

#cats3b {
  display: flex;
  flex-wrap: wrap;
}

#cats3b figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cats3b figure img {
  margin: auto;
}

#cats3b figure figcaption {
  margin-top: .5em;
}
